body{
    background-color: #d57575;
}
.container{
    text-align: center;
    padding: 25px;
    margin: 42px;
    font-size: 30px;
    font-family: 'Baloo Bhai', cursive;
}

.btn{
    font-family: 'Baloo Bhai', cursive;
    border: 2px solid;
    color: rgb(72, 209, 209);
    background-color: rgb(94 49 189);
}

.container input{
    font-family: 'Baloo Bhai', cursive;
    border: 2px solid;
    text-align: center;
}

.btn:hover{
    background-color: gray;
}